.bull-head {
  height: 3rem;
  width: 3rem;
  z-index: -2;
}

.bull-stream {
  z-index: -1;
  position: absolute;
  opacity: 0;
  top: 4.5rem;
  left: 2.75rem;
  height: 2.5rem;
  width: 2.5rem;
  transition: 0.3s ease;
}

.home-button-container:hover .bull-stream {
  opacity: 1;
}

.main-title {
  font-family: "Suez One", serif;
}
.main-subtitle {
  font-family: "Raleway", sans-serif;
}

.front-end-badge {
  position: absolute;
  top: 3rem;
  left: auto;
  right: 11rem;
}

.outlined {
  text-shadow: white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px,
    white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px,
    white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px,
    white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px,
    white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px,
    white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px,
    white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px, white 0px 0px 1px;
}

.project-container .details-cta {
  opacity: 0;
}

.project-container:hover .details-cta {
  opacity: 1;
  transition-delay: 1s ease;
}

.contact-text:hover {
  color: #7e2026;
  transition-delay: 0.1s;
}

.bull-skills {
  z-index: 1;
}
.skills-bg {
  z-index: 0;
}
