.bull-head {
  height: 3rem;
  width: 3rem;
}

.bull-stream {
  position: absolute;
  opacity: 0;
  top: 6.15rem;
  left: 2.75rem;
  height: 2.5rem;
  width: 2.5rem;
  transition: 0.3s ease;
}

.home-button-container:hover .bull-stream {
  opacity: 1;
}

.main-title {
  font-family: "Suez One", serif;
  color: white;
}
.main-subtitle {
  font-family: "Raleway", sans-serif;
  color: white;
}

.circle-text {
  position: absolute;
  top: 10rem;
  left: auto;
  right: 10rem;
}
